<div class="jumbotron">
    <h1>API Mode</h1>
    <p class="lead">Access our API for making open source custom Applications.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
